{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'ChatBot/ChatBot_style.css' %}">
    <title>
        Chat Bot
    </title>
</head>

<body>

    <div class="ChatBotContainer">
        <div class="NameBox">Chat Bot</div>
        <div id = "MC" class="MessageContainer"></div>
        <div class="QueryBox">
            <input id = "Input" class="InputMessage" type="text" placeholder="Ask me ! ..." >
            <button type="submit">Send</button>
        </div>
    </div>
    
</body>
<script src="{% static 'ChatBot/ChatBot_script.js' %}" type="text/javascript"></script>
</html>
