
.BotMessage{
  margin: 20px auto 20px 20px;
  background-color: rgb(175, 175, 175);
  width: fit-content;
  max-width: 80%;
  overflow-wrap: break-word;
  height: fit-content;
  border-radius: 20px;
  padding: 10px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  text-align: justify;
  color: black; 
  transition: all 0.5s; 
}
  
  
.BotMessage:hover{
  background-color: rgb(114, 114, 114);
}
  