.MessageContainer{
    box-shadow: 0px 0px 5px 1px orange;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    scroll-behavior: smooth;
  }


  /* Scrolling bar style */
.MessageContainer::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.MessageContainer::-webkit-scrollbar-track {
  background-color: rgb(200, 200, 200);
}
 
/* Handle */
.MessageContainer::-webkit-scrollbar-thumb {
  background-color: orangered;
  transition: all 0.25s;
  
}

/* Handle on hover */
.MessageContainer::-webkit-scrollbar-thumb:hover {
  background: orange;

}